<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>It's a habit</h2>
        <hr >
      </div>
    </div>
    <div class="row text-center">
      <p><strong>Green ආයුෂ්</strong> is a health
        focused food provider in Sri Lanka,
         committed to promoting
         wellness through nutritious
         and convenient meal options.
         Our mission is to provide
         affordable, wholesome, and
         locally sourced products that
         cater to modern, health
        conscious lifestyles. 
      </p><p>
        With a growing demand for healthy food alternatives, <strong>Green ආයුෂ්</strong> is positioned to become a trusted brand in the wellness
         industry. </p>
    </div>
  </div>
</section>
