<section class="" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>Vision</h3>
                <p class="font_color">To be a trusted leader in
                    transforming daily nutrition
                    by offering wholesome,
                    sustainable, and delicious
                    food choices that inspire
                    healthier communities and a
                    greener planet.</p>
            </div>
            <div class="col-lg-4">
                <h3>Mission</h3>
                <p class="font_color">At Green ආයුෂ්, we are
                    dedicated to crafting
                    nutritious and
                    affordable meal solutions.
                    Through innovation,
                    sustainability, and a passion
                    for wellness, we aim to
                    nourish lives and empower
                    individuals to embrace a
                    healthier lifestyle every day.</p>
            </div>
        </div>
    </div>
</section>